# Django Settings
SECRET_KEY='django-insecure-zc4^jp)wr@hr45)9c10za_b3^xb#3wu0a%x2%^5mey$2pxnkfh'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Set USE_POSTGRES=True to use PostgreSQL, False to use SQLite
USE_POSTGRES=False
DB_NAME=kenya_health_access
DB_USER=postgres
DB_PASSWORD=your-postgres-password
DB_HOST=localhost
DB_PORT=5432

# Redis Configuration
# Set USE_REDIS=True to enable Redis caching
USE_REDIS=False
REDIS_URL=redis://127.0.0.1:6379/1

# Celery Configuration
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# CORS Configuration (for React frontend)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Africa's Talking API
AT_USERNAME=sandbox
AT_API_KEY=atsk_b8d731cae5157044bda8513bc68c4d304a9c5a131c7974a8c38696a55662561c35c624a2

# Optional: Production settings
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
